<h1><%=@question.title %></h1>

<%= erb :"questions/_details", layout: false, locals: {detail: @question} %>

<br>
<h2>Answers:</h2>

<ul>
  <% @question.answers.each do |answer|  %>
  <li>
    <%= erb :"questions/_details", layout: false, locals: {detail: answer} %>
  </li>
  <% end %>
</ul>
