<<<<<<< HEAD
=======
nav bar

<h1><%=@question.title %></h1>

<%= erb :"questions/_details", layout: false, locals: {detail: @question} %>

<br>
<h2>Answers:</h2>

<ul>
  <% @question.answers.each do |answer|  %>
  <li>
    <%= erb :"questions/_details", layout: false, locals: {detail: answer} %>
  </li>
  <% end %>
</ul>
>>>>>>> bab63e21eebc3e8534737870a9030ef8b216b20c
