<% if @errors %>
  <% @errors.each do |error| %>
    <%= error %>
  <% end %>
<% end %>
<form action="./new" method="post" id="new-comment-form">
  <h3>Post your comment!</h3>
  <%= erb :'_body', layout: false, locals: {thing: nil}  %>
</form>
