/* *       - https://developer.mozilla.org/en-US/docs/Web/CSS/Universal_selectors
/* :after  - https://developer.mozilla.org/en-US/docs/Web/CSS/%3A%3Aafter*/
/* :before - https://developer.mozilla.org/en-US/docs/Web/CSS/%3A%3Abefore */
/**, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  }*/


  /* element styling */
  html {
    height: 100%;
    background-attachment: fixed;
    line-height: 1.4;
  }

  body {
    padding-top: 100px;
    counter-reset:section;
    background-color: rgba(192,100,77,0) !important;
  /*background-color: #F6F6EF;
  font-family: Verdana;
  max-width: 700px;
  margin: 0 auto;*/
}

.navbar-default {
  border-top: 4px solid #f37e22 !important;
  height: 68px;
}

.navbar-brand {
  padding-top: 10px !important;
}

.navbar-nav {
  padding-top: 6px;
  font-size: 1.2em;
}

.navbar-btn {
  margin-top: 10px !important;
  margin-left: 15px;
}

.navbar-btn a {
  color: white;
}

.navbar-btn a:hover {
  text-decoration: none;
  color: white;
}

a {
  /*color: #32bb7d;*/
  text-decoration: none;
}

a:hover {
  /*color: #6ec7a5;*/
  text-decoration: underline;
}

article {
  margin: 5px 5px;
}

article h2 {
  display: inline;
  font-size: 10pt;
}

article:before {
  counter-increment: section;
  color: #8C8C8C;
  font-size: 10pt;
  content: counter(section) ". ";
}

article h2 a {
  text-decoration: none;
  color: black;
}

article p {
  color: #8C8C8C;
  font-size: 7pt;
  margin: 3px 15px;
}

input[type=text], input[type=password], input[type=email], textarea {
  color: #8C8C8C;
}

.inline {
  display: inline;
}

.no-padding {
  padding: 0;
}

.content {
  margin: 0 auto;
}

.details-box {
  position: relative;
  width: 100%;
  padding: 10px 10px 10px 20px;
  clear: both;
}

.vote-box {
  position: absolute;
  left: 0px;
  width: 40px;
  margin-left: 10px;
  margin-top: 20px;
  text-align: center;
}

.vote-button {
  background-color: transparent;
  border: none;
  font-size: 1.5em;
  color: #8C8C8C;
  vertical-align: center;
}

.vote-arrow span {
  text-align: center;
  vertical-align: middle;
  margin-bottom: 5px;
}

.vote-number {
  font-size: 1.4em;
  text-align: center;
  vertical-align: middle;
}


.body-text {
  margin-left: 50px;
  margin-top: 10px;
  min-height: 120px;
}

.edit-box {
  margin-left: 50px;
  height: 25px;
  padding-right: 5px;
}

.add-comment {
  border-top: 1px solid #ccc;
  margin-left: 50px;
  padding-left: 10px;
}

.comments-box {
  position: relative;
  margin: 10px;
  margin-left: 50px;
  background-color: #f8f8f8;
  padding: 10px;
}

.comment-vote {
  margin-left: 50px;
  padding-left: 10px;
}

.individual-comment {
  margin-left: 50px;
}

.comment-text {
  margin-left: 50px;
  min-height: 65px;
  border-bottom: 1px dotted #ccc;
}

.comment-edit {
  margin-left: 50px;
  height: 25px;
  padding-right: 5px;
  padding-top: 10px;
}

.body-details {
  margin-left: 50px;
}

.max-w-900 {
  max-width: 900px;
}

.nav-right {
  float: right !important;
}

.label {
  color: #8C8C8C !important;
  font-size: 100% !important;
}

.right {
  float: right !important;
}

.answer-box {
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 0 10px 0 20px;
}
