/* *       - https://developer.mozilla.org/en-US/docs/Web/CSS/Universal_selectors
/* :after  - https://developer.mozilla.org/en-US/docs/Web/CSS/%3A%3Aafter*/
/* :before - https://developer.mozilla.org/en-US/docs/Web/CSS/%3A%3Abefore */
/**, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}*/


/* element styling */
html {
  height: 100%;
  background-attachment: fixed;
  line-height: 1.4;
}

body {
  padding-top: 100px;
  counter-reset:section;
  /*background-color: #F6F6EF;
  font-family: Verdana;
  max-width: 700px;
  margin: 0 auto;*/
}

.navbar-default {
  border-top: 4px solid #f37e22 !important;
  height: 68px;
}

.navbar-brand {
  padding-top: 10px !important;
}

.navbar-nav {
  padding-top: 6px;
  font-size: 1.2em;
}

.navbar-btn {
  margin-top: 10px !important;
  margin-left: 15px;
}

.navbar-btn a {
  color: white;
}

.navbar-btn a:hover {
  text-decoration: none;
  color: white;
}

a {
  /*color: #32bb7d;*/
  text-decoration: none;
}

a:hover {
  /*color: #6ec7a5;*/
  text-decoration: underline;
}

article {
  margin: 5px 5px;
}

article h2 {
  display: inline;
  font-size: 10pt;
}

article:before {
  counter-increment: section;
  color: #8C8C8C;
  font-size: 10pt;
  content: counter(section) ". ";
}

article h2 a {
  text-decoration: none;
  color: black;
}

article p {
  color: #8C8C8C;
  font-size: 7pt;
  margin: 3px 15px;
}

input[type=text], input[type=password], input[type=email], textarea {
  color: #05724f;
}

.vote-button {
  background-color: transparent;
  border: none;
  font-size: 10pt;
  color: #8C8C8C;
  vertical-align: center;
}


.inline {
  display: inline;
}

.no-padding {
  padding: 0;
}
