<h1><%= @user.username %> Profile Page</h1>
<br>
<h2>Questions posted</h2>
<ul>
  <% @user.questions.each do |question| %>
  <%= erb :"_question", layout: false, locals: {question: question} %>
  <% end %>
</ul>
