<h1><%= current_user.username %> Profile Page</h1>
<br>
<h2>Questions posted</h2>
<ul>
  <% current_user.questions.each do |question| %>
  <%= erb :"_question", layout: false, locals: {question: question} %>
  <% end %>
</ul>
