<label for="username" class="label">Username:</label>
<input type="text" name="user[username]">
<br>

<label for="password" class="label">Password:</label>
<input type="password" name="user[password]">
<br>

<input type="submit" value="Submit" class="submit btn btn-default btn-primary">
