
<div class="up-button">
  <form method="post" action='<%= thing.get_route %>/up' class="inline">
    <button type="submit" name="submit_param" value="submit_value" class="vote-button no-padding">
      <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
    </button>
  </form>
</div>

<div class="vote-number">
  <%= thing.votes.up.count - thing.votes.down.count %>
</div>

<div class="down-button">
  <form method="post" action='<%= thing.get_route %>/down' class="inline">
    <button type="submit" name="submit_param" value="submit_value" class="vote-button no-padding">
      <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
    </button>
  </form>
</div>
